<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/ufidon/ml/blob/main/mod1/pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/ufidon/ml/blob/main/mod1/pd.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>
<br>


# Two basic data structures in Pandas
- Series: a one-dimensional labeled array holding data of any type such as
  - integers, strings, Python objects etc.
- DataFrame: a two-dimensional data structure that holds data like 
  - a two-dimension array 
  - or a table with rows and columns.

In [ ]:
import numpy as np, pandas as pd

In [ ]:
# 1. create series objects
# a default RangeIndex is created

s1 = pd.Series([2, 3.14, np.nan, np.inf, 'Trump']) # s1 with default integer labels, NOT conventional index
# in s2, the name index here is confusing, label will be better
s2 = pd.Series([2, 3.14, np.nan, np.inf, np.NINF], index=['Biden','Trump','Obama','Pense','Gates'])

# create from a dictionary wo/w explicit indexes
cs={'Mon':'Python', 'Tue':'C++', 'Wed':'C', 'Thu':'HTML', 'Fri':'Java'}
s3 = pd.Series(data=cs)
s4 = pd.Series(data=cs, index=['Tue','Thr'])

print(f'{s1}\n\n{s2}\n\n{s3}\n\n{s4}')

In [ ]:
print(f'{s1.dtypes} | {s2.dtypes} | {s3.dtypes} | {s4.dtypes}')

In [ ]:
print(f'{s1.keys()=}\n{s2.keys()=}\n{s3.keys()=}\n{s4.keys()=}')

In [ ]:
# access series elements by labels and traditional indexes
print(f'{s1[4]=}  {s1.iloc[4]=}  {s1.iat[4]=}')
print(f'{s2["Trump"]=}  \n{s2.iloc[1:3]=}  \n{s2.iat[1]=}')
print(f'{s3["Wed"]=} \n{s3.iloc[2:]=}  \n{s3.iat[4]=}')

In [ ]:
# 2. create dataframe objects
dates = pd.date_range("20230115", periods=5)
df1 = pd.DataFrame(np.random.randn(5,4)+10, index=dates, 
                   columns=['Precipitation','Sunshine','Wind speed','Air quality'])

df2 = pd.DataFrame({
  'Morning': 25.6,
  'Afternoon': pd.Categorical(['train','test','eval','deploy']),
  'Evening': np.arange(3,7),
  'Night': np.random.randint(10,20,4)
})
print(f'{dates}\n\n{df1}\n\n{df2}')

In [ ]:
print(f'{df1.dtypes} \n\n{df2.dtypes}')

Investigate data
---
- show first or last several rows
- convert between pandas data types and numpy data types
- basic statistics
- sort

In [ ]:
# 1. view first two rows
df1.head(2)

In [ ]:
# 2. view last three rows
df1.tail(3)

In [ ]:
# 3. show indexes and columns
print(f'{df1.index}\n\n{df1.columns}')

In [ ]:
# 4. to numpy darray
# indexes and columns are removed, only data is retained
# dataframe's most general data type is used for numpy's dtype
npdf1 = df1.to_numpy()
print(f'{npdf1} \n\n{df1.dtypes=} {npdf1.dtype=}')

npdf2 = df2.to_numpy()
print(f'{npdf2} \n\n{df2.dtypes=} {npdf2.dtype=}')

In [ ]:
# 5. show a quick statistic summary
print(f'{df1.describe()} \n\n {df2.describe()}')

In [ ]:
# 6. transpose
print(f'{df2}\n\n{df2.T}')

In [ ]:
# 7. sort by index (axis=0) and column header (axis=1)
print(f'{df2}\n\n{df2.sort_index(axis=0, ascending=False)}\n')
print(f'{df2.sort_index(axis=1)}')

In [ ]:
# 8. sort by columns or by values
print(f"{df2.sort_values(by='Morning')}\n\n{df2.sort_values(by='Afternoon')}\n\n{df2.sort_values(by='Night')}")

Select and set indexes, columns and cells
---
- the Python/Numpy way is intuitive
- optimized pandas way: DataFrame.{at(),iat(),loc(),iloc()}
  - at() and loc() are human oriented, by label
    - [left close, right close]
  - iat() and iloc() are python and numpy oriented, by position
    - [left close, right open)

In [ ]:
# 1. select a single column
df2['Afternoon']

In [ ]:
# select multiple column
df2[['Morning', 'Night']]

In [ ]:
# 2. select multiple rows
df2[1:3]

In [ ]:
# select a single row
df2[2:3]

__select by label (index and column header)__

In [ ]:
# select a single row
df1.loc['2023-01-17']

In [ ]:
# select a sub region
# pay attention: both endpoints of : are included
df1.loc['2023-01-16':'2023-01-18', ['Precipitation', 'Sunshine']]

In [ ]:
# select a cell
df1.loc['2023-01-19',['Sunshine']]

In [ ]:
# or use at() to select a cell
df1.at['2023-01-19', 'Sunshine']

__Select by position__

- by row and column's integer indexes
- follow python and numpy indexing conventions
  - left close, right open

In [ ]:
df1

In [ ]:
# select a row
df1.iloc[2]

In [ ]:
# select a region
# [left close, right open)
df1.iloc[1:3, 0:2]

In [ ]:
# select with list of positions
df1.iloc[[2,4], [ 1,3]]

In [ ]:
# select a cell
df1.iloc[3,3]

In [ ]:
# or use iat() to select a cell
df1.iat[3,3]

__Select by conditions__

- or boolean indexing

In [ ]:
df1

In [ ]:
# select rows based on column conditions
df1[(df1['Precipitation']>11) & (df1['Wind speed']<10)]

In [ ]:
df2

In [ ]:
df2[df2['Afternoon'].isin(['train', 'eval'])]

In [ ]:
# select values
df1[df1>10]

__Modify dataframes__

In [ ]:
# 1. add a column
# align the data by the indexes
pm1 = pd.Series([3.4,5.6,3.2,9.8,4.5], index=pd.date_range('2023-01-15',periods=5))
df1['PM2.5'] = pm1
df1

In [ ]:
# 2. remove a column
del df1['PM2.5']
df1

In [ ]:
# 3. add column with python list and numpy array
df1['PM2.5'] = [3.4,5.6,3.2,9.8,4.5]
df1['Oxygen'] = np.array([.256]*len(df1))
df1

In [ ]:
# 4. set values by label
df1.at['2023-01-15','PM2.5'] = 7.7
df1

In [ ]:
# set values by by position
df1.iat[0,-1] = 0.222
df1

In [ ]:
# 5. set values by conditions
df3 = df1.copy()
df3[df3>5]

In [ ]:
df3[df3>5] = np.sin(df3)
df3

Handle missing data
---
- np.nan (not a number) represents missing data in numpy
  - excluded from computations

In [ ]:
dm = df1[df1<11]
dm

In [ ]:
# 0. test missing data
dm.isna()

In [ ]:
# 1. drop any rows that have missing data
dv = dm.dropna(how='any')
dv

In [ ]:
# 2. fill missing data with a default value
dm.fillna(value=3.14)

Mathematical operations on dataframe
---
- missing data is excluded generally

In [ ]:
df1

In [ ]:
# 1. Calculate the mean value for each column
df1.mean()

In [ ]:
# 2. Calculate the mean value for each row:
df1.mean(axis=1)

In [ ]:
# 3. DataFrame.agg() and DataFrame.transform() applies 
# a user defined function that reduces or broadcasts its result respectively

df1.agg(lambda x: x*x+1)

In [ ]:
df1.agg(lambda x: np.mean(x)+1)

In [ ]:
df1.transform(lambda x: x*x+1)

In [ ]:
df2

In [ ]:
# 4. value counts
df2['Night'].value_counts()

In [ ]:
# 5. string methods
df2['Afternoon'].str.upper()

Shape operations on dataframe
---
- merge such as join, concatenate
- group
- reshape

In [ ]:

df1

In [ ]:
# 1. concatenate rows
pd.concat([df1[:2], df1[2:]])

In [ ]:
# concatenate columns
pd.concat([df1['Precipitation'], df1['PM2.5']], axis=1)

In [ ]:
# 2. grouping steps
# - Splitting the data into groups based on some criteria
# - Applying a function to each group independently
# - Combining the results into a data structure
df1['Grade'] = ['Good','Bad','Good','Bad','Bad']
df1

In [ ]:
df1.groupby('Grade')[['PM2.5', 'Sunshine']].sum()

In [ ]:
# Grouping by multiple columns label forms MultiIndex.
df1.groupby(['Grade', 'Oxygen']).mean()

In [ ]:
df1.groupby('Grade', observed=False).size() # observed=False also shows empty categories

Import and export data
---
- dataframe <--> popular file formats such as
  - csv, json, html, xml
  - ms excel, open document, hdf5
  - sql, google bigquery,
  - python pickle format, etc.

In [ ]:
# save data from dataframe to csv
df1.index.name = 'Date'
df1.to_csv('./weather.csv')

In [ ]:
!cat ./weather.csv

In [ ]:
# read from csv
dfr = pd.read_csv('./weather.csv', index_col='Date')
dfr

# References
- [Pandas user guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)